/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fafafa;
  color: #333;
}

/* HEADER */
.site-header {
  background-color: #ff764a;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.site-header h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.site-header nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.site-header nav a,
#auth-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
}

.site-header nav a:hover,
#auth-links a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

/* FOOTER */
.site-footer {
  background-color: #ff764a;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

/* MAIN ALIGNMENT */
main {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
}

/*  LINKS FIX  */
a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #ff764a;
  text-decoration: underline;
}

/* RECIPE CARDS*/
.recipe-card,
.cookbook-card {
  background: white;
  border-radius: 12px;
  padding-bottom: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform .3s, box-shadow .3s;
}

.recipe-card:hover,
.cookbook-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.recipe-card img,
.cookbook-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.recipe-list,
.cookbook-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

button.remove-btn {
  background-color: #e44;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button.remove-btn:hover {
  background-color: #c11;
}

/*Adjustment on recipes*/

#similar-recipes li {
  list-style: none;
}

#similar-recipes h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

#similar-recipes p {
  margin: 0;
  font-size: 14px;
  color: #666;
}
